<div class="container">
<!-- Errors -->
    <p class="lead">[%- error_heading -%] </p>
    <h4 class="text-error">[%- error_msg -%] </h4>

    <button class="btn btn-large" <a href="[% return_to %]">Back</a></button> 

</div> <!-- /container -->



